# Materijali predavanja/vezbi (autorsko pravo fakulteta) -- ne komitovati
*.pdf
*.pptx
*.zip
transfer/
!EOS Vault/**
# Finalna dokumentacija (export iz EOS Vault/Projekat/Dokumentacija.md) -- zelimo je na git-u
!/Dokumentacija.pdf
